.opencare-text-bleu-clair {
  color: #dbf6fc;
}
.opencare-text-bleu {
  color: #009eff;
}
.opencare-text-gris-fonce {
  color: #575756;
}

.opencare-bg-bleu-clair {
  background-color: #dbf6fc;
}
.opencare-bg-bleu {
  background-color: #009eff;
}
.opencare-bg-gris-fonce {
  background-color: #575756;
}
