.bg-opencare-bleu {
  background-color: #009eff;
}
.bg-opencare-clair {
  background-color: #dbf6fc;
}
.bg-opencare-fonce {
  background-color: #575756;
}

.text-opencare-bleu {
  color: #009eff;
}
.text-opencare-clair {
  color: #dbf6fc;
}
.text-opencare-fonce {
  color: #575756;
}
